@model IEnumerable<TrocCommunity.Core.Models.Categorie>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid" id="container-categorie-livre">
    <div class="row">

        <div class="col-md-4">

            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    @foreach (var item in Model)
                    {
                        <div class="panel-heading panel-primary">
                            <h4 class="panel-title">
                                <a href="#@item.NomCategorie.Substring(0,3)" data-toggle="collapse" data-parent="#accordion">
                                    @Html.DisplayFor(modelItem => item.NomCategorie)
                                </a>
                            </h4>
                        </div>
                        <div id="@item.NomCategorie.Substring(0,3)" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <hr />
                                @Html.DisplayFor(modelItem => item.Description)
                                <hr />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-8">
           
        </div>


    </div>
</div>



