@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Home Page";
}

<div class="container" id="header-container">
    <div class="row">
        <img class="img-fluid rounded" src="~/Content/TEMPLATE/images/macbook-pro-1050973_1920.jpg" alt="header-image" />
    </div>
</div>

<div class="container" id="container-section-picture">
    <div id="titre"></div>
    <div class="row" id="section-picture">
        <div class="col-md-4 col-sm-6 section-picture-card">
            <div class="section-picture-image">
                <img src="~/Content/TEMPLATE/images/livre2.jpg" alt="Découverte" class="img-fluid picture-image" />
            </div>
            <div class="section-picture-titre-card">
                <h3 class="text-center title-picture">Découverte</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 section-picture-card">
            <div class="section-picture-image">
                <img src="~/Content/TEMPLATE/images/rencontrer.jpg" alt="rencontre" class="img-fluid picture-image" />
            </div>
            <div class="section-picture-titre-card">
                <h3 class="text-center title-picture">Echange</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 section-picture-card">
            <div class="section-picture-image">
                <img src="~/Content/TEMPLATE/images/ecology.jpg" alt="Ecologie" class="img-fluid picture-image" />
            </div>
            <div class="section-picture-titre-card">
                <h3 class="text-center title-picture">Environnement</h3>
            </div>
        </div>
    </div>
</div>


<!-- Section Last Books  -->

<div class="container" id="container-last-books">
    <h2 id="title-section-last-books">Derniers ajouts</h2>
    <div class="row" id="section-last-books">

        <div class="col-md-4 col-sm-12 section-book-card">
            <div class="section-picture-book-image thumbnail">
                <img src="~/Content/TEMPLATE/images/Musso.jpg" alt="Découverte" class="img-fluid" />
            </div>
            <div>
                <h3 class="text-center titre-books-thumbnail">Titre</h3>
                <p class="text-center">Auteur</p>
                <div class="books-items">
                    <p class="books-points text-center">100 points</p>
            </div>
                <p class="text-left">Ville</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 section-book-card">
            <div class="section-picture-book-image thumbnail">
                <img src="~/Content/TEMPLATE/images/Musso.jpg" alt="Découverte" class="img-fluid" />
            </div>
            <div>
                <h3 class="text-center titre-books-thumbnail">Titre</h3>
                <p class="text-center">Auteur</p>
                <div class="books-items">
                    <p class="books-points text-center">100 points</p>
        </div>
                <p class="text-left">Ville</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 section-book-card">
            <div class="section-picture-book-image thumbnail">
                <img src="~/Content/TEMPLATE/images/Musso.jpg" alt="Découverte" class="img-fluid" />
            </div>
            <div>
                <h3 class="text-center titre-books-thumbnail">Titre</h3>
                <p class="text-center">Auteur</p>
                <div class="books-items">
                    <p class="books-points text-center">100 points</p>
                </div>
                <p class="text-left">Ville</p>
            </div>
        </div>

            </div>
        </div>


<!-- Image Parallax Page Accueil -->
<div class="section-parallax">
    <p class="txt-par">
        A bientôt
    </p>
    </div>
</form>