@{
    ViewBag.Title = "Contact";
}

<hr />

<h2 id="Contact-title">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<form action="https://formspree.io/f/xknpynpg" method="post" id="my-form">

    <div class="p-3 p-lg-5 border">
        <div class="form-group row">
            <div class="col-md-6">
                <label for="c_fname" class="text-black">Prénom <span class="text-danger"></span></label>
                <input type="text" class="form-control" id="c_fname" name="c_fname">
            </div>
            <div class="col-md-6">
                <label for="c_lname" class="text-black">Nom de famille<span class="text-danger"></span></label>
                <input type="text" class="form-control" id="c_lname" name="c_lname">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label for="c_email" class="text-black">Email <span class="text-danger"></span></label>
                <input type="email" class="form-control" id="c_email" name="c_email" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label for="c_subject" class="text-black">Sujet </label>
                <input type="text" class="form-control" id="c_subject" name="c_subject">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <label for="c_message" class="text-black">Message </label>
                <textarea name="c_message" id="c_message" cols="30" rows="7" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Envoyer">
            </div>
        </div>
    </div>
</form>